@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">


        <img src="~/Uploads/rit.png"></img>

    </div>
</div>
<div></div>
<div class="jumbotron">
    <h1>WIORMS</h1>
    <p class="lead">WIORMS is a Web based Inward-Outward Registration Management System specially designed for Rajarambapu Institute Of Technology .</p>
    <p><a href="http://www.ritindia.edu" class="btn btn-primary btn-success">Welcome to RIT &raquo;</a></p>
</div>

